# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# __Objectives:__
* Popular languages that Data Scientists
* Some of the commonly used libraries used by Data Scientists
* Cloud Based Tools for Data Science

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

# Some of the commonly used libraries used by Data Scientists include:
* matplotlibrary
* Numpy
* Pandas

|Data Science Tools|
--------------------
|Jupyter Notebook|
|Jupyter Lab|
|R Studio|

## Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sheriff Ameen Kudos